<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<form th:action="@{/form}" th:object="${sequence}" method="post">
    <div class="form-group">
        <label for="count">Count of number from sequence</label>
        <input class="form-control" type="text" id="count" th:field="*{count}">
        <div class="alert alert-warning" th:if="${#fields.hasErrors('count')}" th:errors="*{count}"></div>
    </div>
    <div class="form-group">
        <label for="sequence">The sequence</label>
        <textarea class="form-control" rows="6" id="sequence" th:field="*{sequence}">
        </textarea>
        <div class="alert alert-warning" th:if="${#fields.hasErrors('sequence')}" th:errors="*{sequence}"></div>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>

</form>
</div>
</body>
</html>